@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #fafafa;
  overflow: hidden; /* Prevent full page scroll, handle in app */
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
}